$black: #101010;
$purple: #e2beff;
$lightGray: #f3f3f3;
$white: #fff;
$darkGray: #e8e8e8;

@mixin mainBlock {
  max-width: 1277px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
}

@mixin mainHeader {
  font-size: 84px;
  line-height: 100%;
  margin: 120px auto 0;
}
